/* -------- GENERAL -------- */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.wrapper {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #444;
}

h1, h2, h3, h4 {
    color: #444;
}

h1 {
    font-family: 'Crete Round', serif;
    font-size: 45px;
}

h2 {
    font-size: 55px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

p {
    line-height: 20px;
    color: #777;
}

small {
    font-size: 13px;
    font-style: italic;
}

.orange {
    color: #ff7a00;
}

.clear {
    clear: both;
}


/* -------- HEADER -------- */

header {
    height: 120px;
}

header h1 {
    float: left;
    margin-top: 32px;
}

header nav {
    float: right;
    margin-top: 50px;
}

header nav ul li {
    float: left;
    /* display: inline-block; */
}

header nav ul li a {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 19px;
    margin-right: 20px;
}

header nav ul li a:hover {
    color: #ff7a00;
}

/* -------- SECTION HOME -------- */

#home {
    height: 580px;
    background: url('img/main.jpg') center;
}

#home h2 {
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    padding: 150px 0 40px 0;
    margin-bottom: 20px;
}

.button-1 {
    width: 120px;
    height: 50px;
    display: block;
    background-color: #ff7a00;
    color: #fff;
    font-size: 20px;
    margin: 0 auto;
    line-height: 50px;
    text-align: center;
    border-radius: 3px;
}

.button-1:hover {
    background: #02b8dd;
}

/* -------- DESTINATIONS -------- */

#dest ul {
    margin: 80px 0;
}

#dest ul li {
    width: 300px;
    float: left;
    padding-top: 140px;
    text-align: center;
    margin-right: 10px;
}

#dest h4 {
    text-transform: uppercase;
    margin-bottom: 20px;
}

#dest p {
    margin-bottom: 20px;
}

#dest-1 {
    background: url(img/dest-icon-1.png) no-repeat top center;
}

#dest-2 {
    background: url(img/dest-icon-2.png) no-repeat top center;
}

#dest-3 {
    background: url(img/dest-icon-3.png) no-repeat top center;
}

/* -------- TOURS -------- */

#tours {
    background-color: #efefef;
    padding: 60px 0;
}

#tours article {
    width: 460px;
    height: 270px;
    float: left;
    border-radius: 10px;
}

#art-1 {
    background-image: url(img/article-image-1.jpg);
    margin-right: 20px;
}

#art-2 {
    background-image: url(img/article-image-2.jpg);
}

.overlay {
    background: rgba(255, 255, 255, 0.90);
    height: 100%;
    width: 190px;
    padding: 20px;
    border-radius: 10px 0 0 10px;
    text-align: center;
    box-sizing: border-box;
}

.overlay p {
    text-align: center;
    margin-bottom: 20px;
}

article h4 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
}

.button-2 {
    color: #fff;
    background-color: #ff7a00;
    padding: 6px 20px;
    border-radius: 3px;
}

.button-2:hover {
    color: #fff;
    background-color: #02b8dd;
}


/* -------- CONTACT -------- */

#contact {
    padding: 60px 0;
    text-align: center;
}

#contact h3 {
    width: 400px;
    text-transform: uppercase;
    margin: 0 auto 20px auto;
    border-bottom: 2px solid #02b8dd;
    padding-bottom: 20px;
}

form {
    margin: 60px 0 20px 0;
}

label {
    font-weight: bold;
    font-size: 20px;
    margin-right: 10px;
    color: #777;
}

input[type="text"] {
    padding: 10px;
    font-size: 20px;
    margin-right: 20px;
    border: 2px solid #ddd;
    border-radius: 3px;
}

.button-3 {
    color:#fff;
    font-size: 20px;
    font-weight: bold;
    padding: 11px;
    background-color: #02b8dd;
    border-style: none;
    border-radius: 3px;
}

.button-3:hover {
    color:#fff;
    background-color: #444;
}

/* -------- FOOTER -------- */

footer {
    height: 260px;
    background-color: #444;
}

footer h1 {
    color: #fff;
    text-align: center;
    padding-top: 80px;
}

#copyright {
    text-align: center;
    font-weight: bold;
    padding-top: 30px;
    color: #777;
}