/* -------- GENERAL -------- */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.wrapper {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #444;
}

h1 {
    font-family: 'Crete Round', serif;
    font-size: 45px;
    color: #444;
}

h2 {
    color: #444;
    font-size: 55px;
}

h4 {
    font-size: 24px;
    color: #444
}

p {
    line-height: 20px;
    color: #777;
}

.orange {
    color: #ff7a00;
}


/* -------- HEADER -------- */

header {
    height: 120px;
}

header h1 {
    float: left;
    margin-top: 32px;
}

header nav {
    float: right;
    margin-top: 50px;
}

header nav ul li {
    float: left;
    /* display: inline-block; */
}

header nav ul li a {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 19px;
    margin-right: 20px;
}

/* -------- SECTION HOME -------- */

#home {
    height: 580px;
    background: url('img/main.jpg') center;
}

#home h2 {
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    padding: 150px 0 40px 0;
    margin-bottom: 20px;
}

.button-1 {
    width: 120px;
    height: 50px;
    display: block;
    background-color: #ff7a00;
    color: #fff;
    font-size: 20px;
    margin: 0 auto;
    line-height: 50px;
    text-align: center;
    border-radius: 3px;
}

.button-1:hover {
    background: #02b8dd;
}

/* -------- DESTINATIONS -------- */

#dest ul {
    margin: 80px 0;
}

#dest ul li {
    width: 300px;
    float: left;
    padding-top: 140px;
    text-align: center;
    margin-right: 10px;
}

#dest h4 {
    text-transform: uppercase;
    margin-bottom: 20px;
}

#dest p {
    margin-bottom: 20px;
}

#dest-1 {
    background: url(img/dest-icon-1.png) no-repeat top center;
}

#dest-2 {
    background: url(img/dest-icon-2.png) no-repeat top center;
}

#dest-3 {
    background: url(img/dest-icon-3.png) no-repeat top center;
}

/* -------- TOURS -------- */