/* GENERAL */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.wrapper {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #444;
}

h1 {
    font-family: 'Crete Round', serif;
    font-size: 45px;
    color: #444;
}

h2 {
    color: #444;
    font-size: 55px;
}

.orange {
    color: #ff7a00;
}


/* HEADER */

header {
    height: 120px;
}

header h1 {
    float: left;
    margin-top: 32px;
}

header nav {
    float: right;
    margin-top: 50px;
}

header nav ul li {
    float: left;
    /* display: inline-block; */
}

header nav ul li a {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 19px;
    margin-right: 20px;
}

/* SECTION HOME */

#home {
    height: 580px;
    background: url('img/main.jpg') center;
}

#home h2 {
    font-weight: normal;
    text-transform: uppercase;
}